*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: normal;
}


#contenido article{
    border: 2px solid #E1E2E2;
    border-width: 2px 1px;
}

.imagen{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contenido .imagen img{
    width: auto;
    height: 80%;
    /* object-fit: cover; */
}

#custom .imagen img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenido, .contenido_2{
    border-top: 2px solid #E1E2E2;
    height: 20%;
    width: 100%;
    /* padding: 1vh 1vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1vh 1vw;
}

.contenido a, .contenido_2 a{
    color: #E1E2E2;
    font-size: 1.5em;
    text-decoration: none;
    height: 100%;
    width: 100%;
    /* padding: 1vh 1vw; */
}

.contenido a:hover, .contenido_2 a:hover{
    background-color: #E1E2E2;
    color: #111111;
}

.titulo{
    padding: 2vh 0;
}

.enlace{
    text-align: end;
    padding: 2vh 0;
}

.enlace a{
    color: #E1E2E2;
}

h2, h4{
    font-weight: bold;
}

.precio{
    text-align: end;
}

.contenido_2{
    font-size: 1.5em;
}


/* GRID */

#contenido{
    height: 104vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50% 50%;
}

.caja0{
    grid-row: 1 / 3;
    grid-column: 1 / 3;
}

@media (max-width: 600px) {
    #contenido{
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
    }

    section article{
        height: 27vh;
        width: 50%;
    }

    .caja0{
        height: 54vh;
        width: 100%;
    }

}